input[type="time"] {
    position: relative;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.optionColor {
    color: #fff;
    background-color: #002857;
}

.align-items-baseline {
    align-items: baseline !important;
}

@media only screen and (max-width: 640px) {
    .job-filter-form {
        width: 100%;
    }
}

@media (min-width: 640px) {
    .modal .modal-dialog {
        width: 550px;
    }
}

.custom-tooltip {
    z-index: 99;
}

.rmdp-disabled,
.rmdp-week-day {
    color: #8d8d8d !important;
}

.rmdp-disabled > span:hover {
    background-color: unset !important;
}

.user-type,
.report-form {
    align-items: baseline !important;
}

.report-field {
    width: 140px;
}

.react-datepicker-popper {
    z-index: 99 !important;
}

@media only screen and (max-width: 1500px) {
    .report-form {
        flex-direction: column;
    }

    .user-select-type > label {
        flex: unset;
    }

    .user-type {
        align-items: center !important;
    }

    .report-form label {
        width: 120px;
    }

    .user-type > .tom-select {
        margin-top: 5px;
    }

    .report-field {
        width: 200px !important;
    }

    .report-action-button {
        margin-left: 0;
    }

    .report-form .react-datepicker-wrapper {
        width: unset !important;
    }

    .job-filter-form .react-datepicker-wrapper {
        width: unset !important;
    }

    .user-type .tom-select {
        width: 200px;
    }

    .filter-date-picker {
        max-width: 200px;
    }

    .report-form .form-control,
    .job-filter-form .form-control,
    .job-filter-style {
        width: 200px;
    }

    .job-pending-style {
        width: 100%;
        flex-direction: column;
    }

    .job-pending-style label {
        width: 4rem;
    }
}

@media (max-width: 420px) {
    .report-form .form-control,
    .job-filter-form .form-control,
    .job-filter-style {
        width: 150px;
    }
}

.formField {
    z-index: 1 !important;
}

.react-datepicker__triangle {
    left: -20px !important;
}

.react-datepicker-popper {
    width: 280px;
}

.react-datepicker {
    border: none !important;
    background-color: #ffffff !important;
    box-shadow: 0px 3px 20px #00000014;
    width: 100%;
}

.react-datepicker__header {
    background-color: #ffffff !important;
    border-bottom: 1px solid #f0f0f0 !important;
    width: 100%;
    padding: 0.4rem !important;
}

.react-datepicker__month-container {
    width: 100%;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
    color: #216ba5 !important;
}

.react-datepicker__day-names {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.react-datepicker__week {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.color-red {
    color: red;
}

.checkbox-style {
    border: red 1px solid !important;
    background-color: red !important;
}

.checkbox-style::before {
    background-color: rgb(255, 255, 255) !important;
}

.checkbox-active {
    border: rgb(var(--color-danger) / var(--tw-text-opacity)) 1px solid !important;
    background-color: rgb(var(--color-danger) / var(--tw-text-opacity)) !important;
}

.select__input-container input:focus,
.select__input-container input:active {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

@media (min-width: 1024px) {
    .auth-logo {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .login-logo-section {
        margin: 20px auto auto !important;
        z-index: 1;
    }
}

@media (max-width: 1023.98px) {
    .content-vh-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
